# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.6'

    - name: Install golangci-lint
      run: |
        go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

    - name: Run golangci-lint
      run: |
        cd Soteria/
        $HOME/go/bin/golangci-lint run --out-format=json

    - name: Build
      run: |
        cd Soteria/
        go build -v ./...

    - name: Test
      run: |
        cd Soteria/
        go test -v ./...

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4.3.0
      with:
        name: build-artifact-go
        path: Soteria/ 

  download:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4.1.1
        with:
          name: build-artifact-go
          path: Soteria/  
        
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Cache Go modules
        uses: actions/cache@v4.0.0
        with:
          path: |
            ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}
